# ------------------------
# Clojure Project Git Ignore file patterns
# 
# Ignore all except patterns starting with !
# Add comments on separate lines, not same line as pattern
# ------------------------

# ------------------------
# Ignore everthing in root directory
/*

# ------------------------
# Common project files
!CHANGELOG.md
!README.md
!LICENSE

# ------------------------
# Include Clojure project & config
!build.clj
!deps.edn
!pom.xml
!dev/
!docs/
!resources/
resources/public/css/tailwind.css
resources/public/data
!src/
!test/

# ------------------------
# Include Clojure tools
!.cljstyle
!.dir-locals.el
!compose.yaml
!Dockerfile
!.dockerignore
!Makefile
!tests.edn

# Include clojure_lsp, but only config
!.lsp
.lsp/*
!.lsp/config.edn

# ------------------------
# Include Git & CI workflow
!.gitattributes
!.gitignore
!.github/

# ------------------------
# Include ClojureScript Figwheel
!figwheel-main.edn
!*.cljs.edn

# ------------------------
# JS
!package*.json
!shadow-cljs.edn
!karma.conf.js
resources/public/js/compiled/
